:root {
  --primary-color: #2ce41b;
  --secondary-color: #97ee72;
  --text-color: #171b03;
  --background-color: #fbfdf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

.mais-color {
  color: var(--primary-color);
}

.section-one {
  min-height: 70vh;
}

.section-two {
  min-height: 100vh;
  background-color: var(--background-color);
}

.main-content {
  max-width: 120rem;
  margin: 0 auto;
}

.menu {
  background-color: var(--primary-color);
  min-width: 100%;
  position: fixed;
}

header {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 3rem;
  align-self: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

header nav ul li a {
  font-size: 2rem;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.8rem;
  transition: all 300ms ease;
}

header nav ul li a:hover {
  background-color: var(--text-color);
  color: white;
  border-radius: 2rem;
}

.content-one {
  min-height: 80vh;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content-one h1 {
  color: var(--primary-color);
  margin-bottom: 2rem;
  font-style: italic;
}

.content-one p {
  font-size: 2.2rem;
}

.calculadora-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  color: var(--primary-color);
  padding: 0 0 0 10rem;
}

form label {
  margin-top: 2rem;
}

form input {
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  outline: none;
}

form input::placeholder {
  color: rgb(170, 170, 170);
}

form input:focus {
  border: 0.4rem solid var(--primary-color);
}

form button {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--secondary-color);
  border-radius: 2rem;
}

form span {
  margin-top: 2rem;
  font-size: 2rem;
}

.content-two {
  min-height: 118vh;
}

.title-second-section {
  text-align: center;
  padding-top: 7.5rem;
  color: var(--text-color);
}

.saiba-mais {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 5rem;
  min-height: 70vh;
}

.saiba-mais-content {
  background-color: var(--secondary-color);
  max-width: 80vh;
  padding: 2rem 3rem;
}

.saiba-mais-content h2 {
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.saiba-mais-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  border-radius: 2rem;
}
